# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
bluej intro-copy-copy/doc/allclasses.html
bluej intro-copy-copy/Chapter1Notes.java
bluej intro-copy-copy/doc/Chapter2Program1.html
bluej intro-copy-copy/doc/constant-values.html
bluej intro-copy-copy/doc/element-list
bluej intro-copy-copy/doc/index.html
bluej intro-copy-copy/doc/logfile.txt
bluej intro-copy-copy/doc/package-summary.html
bluej intro-copy-copy/doc/script.js
bluej intro-copy-copy/doc/stylesheet.css
bluej intro-copy-copy/package.bluej
bluej intro-copy-copy/README.TXT
Chapter2Program1.ctxt
Chapter2Program1.java
Pro2_9.java
Chapter2Program1.java
Pro2_9.java
